# Environment variables for email configuration
EMAIL_HOST=""
EMAIL_USER=""
EMAIL_PASS=""

# Environment variables for database configuration
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME"

# Environment variable for authentication secret
AUTH_SECRET="y5PgNvUSZOJ6tdkX0QyzJm2EFBZecgeLyYmxDhtBWqM="